USE [master]
GO
/****** Object:  Database [MarketStore]    Script Date: 7/9/2019 10:37:06 PM ******/
CREATE DATABASE [MarketStore] ON  PRIMARY 
( NAME = N'MarketStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MarketStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MarketStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MarketStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarketStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MarketStore]
GO
/****** Object:  Table [dbo].[tb_Store]    Script Date: 7/9/2019 10:37:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Store](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](50) NULL,
	[StoreLocation] [nvarchar](250) NULL,
	[OwnerMail] [nvarchar](250) NULL,
	[OwnerCellPhone] [nvarchar](50) NULL,
	[OwnerName] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](250) NULL,
	[LinkUrl] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
